* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: url("../images/header.png");
    color: white;
    padding: 20px 0px;
    text-align: center;
    position: static;
    width: 100%;
}

hr {
    margin: 20px 0px;
}

h1 {
    font-size: 20px;
    margin: 10px;
    text-align: center;
}

.header {
    font-size: 70px;
    margin: -15px 20px;
}

.subheader {
    margin: 0px 50px;
    font-size: 18px;
}

p {
    font-size: 12px;
    margin: 10px;
}

h2 {
    margin: 0px 10px;
    text-align: center;
    font-size: 15px;
}

.goats {
    display: flex;
    justify-content: center;
}

.goats img {
    border-radius: 50%;
}

main {
    display: grid; 
    grid-template-columns: 100px 1fr;
    height: 100%;
}

.sidenav {
    background-color: rgb(15, 15, 15);
    margin-top: -1px;
}

.sidenav a, .dropdown-btn {
font-family: 'Roboto', sans-serif;
text-decoration: none;
padding: 10px 5px;
font-size: 14px;
color: white;
}

.dropdown-btn {
    border-bottom: 1px solid;
    font-size: 14px;
    width: 100px;
    display: block;
    background: none;
    border: none;
    border-bottom: 1px solid white;
}

.content {
    margin: 20px;
}

li {
    padding-top: 10px;
    font-size: 12px;
}

ul {
    margin-left: 20px;
}

footer {
    padding: 5px 0px;
    bottom: 0;
    right: 0;
    background-image: url("../images/header.png");
    color: white;
    z-index: 1;
    width: 100%;
    text-align: right;
}