* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
}

body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header h1 {
    text-align: center;
    margin: 40px 0px 20px 0px;
}

.counter {
    text-align: center; 
    font-weight: bold;
    font-size: 15px;
    margin: 0px 30%;
    padding: 5px;
}

.tasks {
    border: .5px solid black;
    padding: 10px;
    margin: 20px;
    background-color: lightgray;
    opacity: 70%;
}

.task-div {
    border: 1px solid black;
    padding: 15px;
}

#options-buttons {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
    padding: 10px;
    position: sticky;
    bottom: 5%;
}

#newTask {
    min-width: 200px;
    height: 30px;
    padding: 5px;
    margin: 0px 5px;
    font-size: 20px;
    opacity: 70%;
}

#btnSave {
    width: 40px;
    font-size: 34px;
    background-color: lightgray;
    opacity: 70%;
    border: 1px solid black;
}

.btnHead {
    margin: 8px;
    padding: 0px 20px;
    height: 45px;
}

.check-box{
    padding-left: 35px;
    cursor: pointer;
}

.btnDelete {
    border: none;
    background: none;
    font-size: 20px;
    position: absolute;
    right: 12%;
}

footer {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
}