* {
    margin: 0;
    padding: 0;
}

header h1 {
    font-family: 'Ubuntu', sans-serif;
    margin: 20px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(82, 82, 82);
}

main h1 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 10px 0px;
    font-size: 35px;
    color: rgb(82, 82, 82);
}

main hr {
    width: 500px;
    margin: auto;
    border: 1px solid rgb(82, 82, 82);
}

.underline_1 {
    border: 20px solid #BCA6C2;
}

.underline_2 {
    border: 5px solid rgb(82, 82, 82);
}

header em {
    color: #BCA6C2;
}

header h2 {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 70px;
    margin: 0px 30px;
    color: rgb(82, 82, 82);
}

.main_img {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    z-index: -1;
    height: auto;
}

.living_christ_text {
    display: grid;
    grid-template-columns: 45% 10% 45%;
}

.text_1 {
    grid-column: 1/2;
    margin: 5% 10%;
}

.text_2 {
    grid-column: 3/4;
    margin: 5% 10%;
}

p {
    font-family: 'Fira Sans', sans-serif;
}

.tab {
    margin-left: 40px;
}

.p {
    font-size: 20px;
    font-style: normal;
}


.in_text{
    font-style: normal;
    color: #ACBDBA;
}

.in_text_span {
    display: none;
}

.in_text:hover .in_text_span {
    display: block;
    background-color: white;
    position: absolute;
    padding: 20px;
    box-shadow: 2px 2px 2px 1px gray;
    width: 300px;
    font-size: 12px;
    color: black;
    background-color: #E7EEEE;
}

#story {
    color: #A599B5;
}

#scripture {
    color: #7F74C8;
}

#photo {
    color: #D05D6A;
}

@media only screen and (max-width: 800px) {

    header h1 {
        font-size: 25px;
    }

    header h2{
        font-size: 45px;
    }

    img {
        width: 300px;
    }

    main hr {
        width: 200px;
    }

    .living_christ_text {
        display: block;
    }
  }